<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- CSS only -->
  <link rel="stylesheet"
        href="/css/bootstrap-5.2.2.min.css">

  <!-- JS, Popper.js and jQuery -->
  <script type="text/javascript" src="/js/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="/js/popper-2.11.6.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap-5.2.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.13.2.min.js"></script>
  <script type="text/javascript" src="/js/jsrender-1.0.12.min.js"></script>
  <script type="text/javascript" src="/js/axios.min.js"></script>

</head>
<body>
<div layout:fragment="content" class="content">

</div>
</body>
</html>