<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="layout">

<div layout:fragment="content">
  <div class="contents">
    <form>
      <div class="form-floating" style="margin-bottom: 20px; width: 50%">
        <input type="text" class="form-control" id="id" name="id" placeholder="아이디">
        <label for="id">아이디</label>
      </div>

      <div class="form-floating" style="margin-bottom: 20px; width: 50%">
        <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호" autocomplete="off">
        <label for="pw">비밀번호</label>
      </div>
      <button type="button" class="btn btn-primary" onclick='login()' style="width: 50%">로그인</button>
    </form>
  </div>
</div>

</html>

<script>
    function login() {
        const id = $('#id').val()
        const pw = $('#pw').val()

        const params = new FormData()
        params.append('id', id)
        params.append('pw', pw)

        axios.post('/api/member/v1/login', params)
            .then(function (response) {
                console.log(response)
                location.replace('/')
            })
            .catch(function (error) {
                console.log(error.response.data)
                if (error.response.data.message) {
                    alert(error.response.data.message)
                }
            })
    }
</script>
